<link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<title>CRUD App</title>
<body ng-app="user" ng-controller="userController as vm" ng-cloak>

<div class="container" style="">
    <h3 style="margin:10px;padding:10px;">{{vm.appTitle}}</h3>
    <!--<div class="btn btn-group">-->
        <!--<button class="btn btn-primary">Add</button>-->
    <!--</div>-->
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="listObj in vm.listUsers">
                <td>{{listObj.name}}</td>
                <td>{{listObj.age}}</td>
                <td>{{listObj.city}}</td>
                <td style="width: 30%;">
                    <button class="btn btn-warning" ng-click="updateUser(listObj._id)">Edit</button>
                    <button class="btn btn-danger" ng-click="deleteUser(listObj._id)">Delete</button>
                </td>
            </tr>
            <tr ng-init="vm.userObj">
                <td>
                    <input class="form-control" ng-model="vm.userObj.name" type="text" placeholder="Name" />
                </td>
                <td>
                    <input class="form-control" ng-model="vm.userObj.age" type="text" placeholder="Age" />
                </td>
                <td>
                    <input class="form-control" ng-model="vm.userObj.city" type="text" placeholder="City" />
                </td>
                <td style="width: 30%;">
                    <button class="btn btn-warning" ng-click="addUser()">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="manageUser.js"></script>
